*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
}

body {
  font-family: Inter, sans-serif;
}

header {
  background-color: #F55A5A;
  color: #FFFFFF;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header--icon {
  width: 24px;
  height: 24px;
  margin-right: 7px;
}